*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 115%;
    color: black;
}

body {
    background-color: bisque;
}

.container {
    text-align: center;
}

.score-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}